/MIPS/MIPS/MIPS/nbproject/private/
/MIPS/MIPS/MIPS/build/
/MIPS/MIPS/MIPS/dist/
/MIPS/MIPS/MIPS/MIPS/MIPS/MIPS/nbproject/private/
/MIPS/MIPS/MIPS/MIPS/MIPS/MIPS/build/
/MIPS/MIPS/MIPS/MIPS/MIPS/MIPS/dist/